<launch>
    <arg name="record" default="false"/> // record rosbag
    <arg name="bag_name" default="walker_bagfile"/> // default name of bagfile

    <include file= "src/walker/launch/turtlebot3_world.launch.py"/> // launch turtlebot3 world 

    <node pkg="walker" exec="WALKER" name="walker" output="screen"/> // launch walker node 

    <executable cmd="ros2 bag record -a --output src/walker/bagfiles/$(var bag_name)" if="$(var record)"/> // record rosbag

</launch>